.bg1 {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  background-image: url('../img/angular.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  backface-visibility: hidden;
  background-image: linear-gradient(to top, red, blue);
}

.bg2 {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  background-image: url('../img/react.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bg3 {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  background-image: url('../img/vue.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}